.navbar {
    align-items: center;
    height: 5.2rem;
    width: 100%;
    background-color: var(--primary);
    padding: 0 70px;
    position: fixed;
    z-index: 1;
}

.navbar-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}


.navbar-logo {
    font-size: 1.1rem;
    color: white;
}

.navbar-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.navbar-item {
    font-size: 1rem;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.navbar-item a {
    text-decoration: none;
    color: white;
    position: relative;
}

a::before{
    content: '';
    position: absolute;
    bottom: -5px;
    width: 0;
    height: 3px;
    background-color: #fff;
    transition: 0.5s;
}

a:hover::before{
    width: 100%;
}

.navbar-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.navbar-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}
